<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... (head content) -->
</head>
<body>
    <% if (post) { %>
        <h1><%= post.title %></h1>
        <p>Country: <%= post.country %></p>

        <% if (post.image_path) { %>
            <img src="../<%= post.image_path %>" alt="<%= post.title %>">
        <% } %>

        <p><%= post.content %></p>
        <p>By: <%= post.username || 'Anonymous' %></p>

        <% if (post.comments) { %>  
            <h3>Comments:</h3>
            <div id="comments-section">
                 <%- post.comments %>  
            </div>
        <% } else { %>
            <p>No comments yet.</p>
        <% } %>

        <a href="/travel-guide">Back to Travel Guide</a>
    <% } else { %>
        <p>Post not found.</p>
    <% } %>
</body>
</html>


